<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consent Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1> Research Consent Form </h1>
    <div class="alert alert-info" role="alert">Please read the consent form carefully:</div>
    <h2>Study Team</h2>

    <p> Students at Simon Fraser University studying perception of Contempt, Anger and Disgust (CAD) emotions in
        different cultures, towards the development of software which can better express or perceive non-verbal
        communication across cultures. We also want to investigate how individualistic scores of each culture affects
        CAD expressions in that culture. We would like you to help us understand which visual social signals and
        emotions are well recognized by the majority of people in this study.<br>
    </p>


    <h2>Task Details</h2>
    <p>You are invited to take part in our study that helps to classify negative emotions of Contempt, Anger and Disgust
        (CAD) in three different cultures of North American, Persian and Filipino. We are looking for participants to
        label short clips, and select the expressions that are seen in each clip.
    </p>


    <h2>Voluntary Participation and Right to Withdraw</h2>
    <p> Your participation is entirely voluntary. You can withdraw at any time without no negative consequences or any
        penalty for doing so. If you choose to enter the study and then decide to withdraw at a later time, it will not
        be possible to remove the annotations you have already completed, as it will have been stored anonymously. Since
        you are given a code, it is possible for you to retrieve your personal data to be deleted in case of
        withdrawal.
    </p>

    <h2>Procedure</h2>
    <p>If you say <b>“Accept,” </b> is how we will do the study: </p>
    <br>
    <ul>
        <li>The study will take place through an online web application, and you will be asked to complete it by filling
            out the forms.
        </li>
        <li>First, you have to register and enter general information about yourself (e.g. language, background culture, etc.)
            You will be given a code, that you must save it for yourself. This code is <b>not recoverable</b> if you forget it.
        </li>
        <li>Then you will be asked to login, and after successful login you will be redirected to annotation page in
            order to begin labelling short videos (each video is 1 to 5 seconds).
        </li>
        <li>Each culture has 40 to 45 clips. You will be rewarded a 5$ Amazon gift card for annotating each 25% of the clips (20$ in total).</li>

        <li>
            You may withdraw at any point of annotation by clicking on withdraw link and confirming your code.
            Your reward will be calculated based on your progress.
        </li>
    </ul>

    <p>The estimated time for annotating each clip is 2 to 3 minutes, and roughly 1.5 hours in total. You <b>do not
        have </b> to finish it in a sitting.
    </p>

    <h2>Risks/Discomforts</h2>
    <p>We do not think there is anything in this study that could harm you, and there are no foreseeable risks to you in
        participating. If you decide to take part in this research study and are unable to complete it, you may end the
        study by clicking on withdraw link, confirming your code and informing the researchers. </p>

    <h2>Benefits</h2>
    <p>Although it may not directly benefit you, this study may benefit society by improving the ability of intelligent
        agents that interact with humans in emotion recognition, which could be embedded into future technologies and
        provide better user experience.
    </p>
    <p class="text-primary"><b>Moreover, you will be paid (in Amazon gift cards) upon completion or withdrawl from the task.</b></p>

    <h2>Confidentiality</h2>
    <p>
        There is no identifying information in this study. Your random generated code is completely anonymous to
        conceal your identity. Some general information will be stored in a secure database about you with the code.
        The authentication mechanism purpose in this project is only to keep track of your progress. The main study
        findings will be published in academic journal articles and present at academic conferences. The data obtained
        from this study will be kept indefinitely on a web-based repository (e.g. SFU Vault or Radar) to be preserved
        for future use in open access initiatives.
    </p>

    <h2>Inclusion and Exclusion Criteria</h2>
    <p>We set inclusion criteria as all workers over the age of 19 years old, with a computer, that are related and
        familiar with one of three cultures: North American, Filipino or Persian, and are located in Canada.</p>
    <p>
        You will be excluded from this study if you do not know any of English, Tagalog or Persian languages.

    </p>

    <h2>Contact Information</h2>
    <p>If you have any questions about this study, you may contact the researchers Roya Javadi (<a
            href="mailto:rjavadi@sfu.ca">rjavadi@sfu.ca</a>) or Emma Hughson (<a href="mailto:ehughson@sfu.ca">ehughson@sfu.ca</a>).
    </p>

    <h2>Concerns or Complaints</h2>
    <p>If you have any concerns or complaints about your rights as a research participant and/or your experiences while
        participating in this study, you may contact Dr. Angelica Lim, Assistant Professor of Professional Practice at
        <a href="mailto:angelica@sfu.ca"> angelica@sfu.ca </a>or Dr. Jeffrey Toward, Director, Office of Research Ethics
        <a href="mailto:jtoward@sfu.ca">jtoward@sfu.ca </a> or 778-782-6593.
    </p>

    <h2>CLICKING ACCEPT</h2>
    <p>
        Research Subject’s Consent to Participate in Research: By clicking the accept button below, you are indicating
        that you have read the consent form, you are age 19 or older, and that you voluntarily agree to participate in
        this online research study. If you are interested in the results of the study, please contact the researchers:
        Roya Javadi (<a
            href="mailto:rjavadi@sfu.ca">rjavadi@sfu.ca</a>) or Emma Hughson (<a href="mailto:ehughson@sfu.ca">ehughson@sfu.ca</a>).

    </p>
</div>

<br>

<div class="row justify-content-center">
    <form action="{{ url_for('home') }}">
        <input type="submit" value="Accept" class="btn btn-info"/>
    </form>
</div>

<br>
<br>
<footer class="footer">
    <div class="container justify-content-center">
        <p class="text-muted">Simon Fraser University - ROSIE Lab</p>
    </div>
</footer>

</body>
</html>