<!DOCTYPE html>
<html>
<head>
    <title>Video Demo </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Social Signals in the Wild</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Annotation <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="{{ url_for("withdraw") }}">Withdraw</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" href="{{ url_for("logout") }}">Log out</a>
            </li>

        </ul>
    </div>
</nav>

<div class="container">


    <h2>Task:</h2>

    <h4 class="danger">Please note that all fields are required. In case you faced an error, please take a screenshot
        and let the researchers know. </h4>
    <p>
        <ul>
    <li>Your progress will be saved and you can come back later if you close the browser's tab or log out.</li>

        </ul>
    </p>
    <br>

    {% if feedback %}
        <p class="text-danger float-right">{{ feedback }}</p>
    {% endif %}
    <form id="questionnaire" method="POST" action="/index">

        <div class="row justify-content-center">
            <div class="col-xs-3">

                <video width="640" height="480" controls>
                    <source src={{ url_for('static', filename= context['video'] ) }} type="video/mp4">


                </video>
            </div>

        </div>
    <!--TODO: show dialog if user has annotated half of videos-->
        <p class="text-primary text-center">You have annotated <span id="completed">{{ context['completed'] }}</span>  videos out
            of <span id="all" value="{{ context['all_videos'] }}"> {{ context['all_videos'] }}</span>  </p>
        <p class="text-center"><b>Note that videos <u>do not have audio.</u></b></p>
        <label class="form-inline" for="token">Video name: <input type="text" class="form-inline" id="token" readonly
                                                                  name="token" value={{ context['video'] }}> </label>
        <table class="table">

            <tr>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Emotion Definitions: (Click to expand or collapse)
                                </button>
                            </h2>
                        </div>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="col">
                                {% if context['language'] == 'english' %}
                                    <h4>Contempt</h4>
                                {% endif %}
                                {% if context['language'] == 'persian' %}
                                    <h4 class="text-right" dir="rtl">تحقیر / Contempt </h4>
                                {% endif %}
                                {% if context['language'] == 'filipino' %}
                                    <h4>Paghamak/Contempt</h4>
                                {% endif %}

                                <ul>
                                    {% if context['language'] == 'english' %}
                                        <li><i class="flag flag-canada"></i>Contempt can be described as a feeling of “I
                                            am better than you”. It
                                            is generally a feeling of
                                            superiority but can be felt when someone looks down on those with a higher
                                            social status. For
                                            example, feeling contemptuous for your boss.
                                        </li>
                                    {% endif %}
                                    {% if context['language'] == 'persian' %}
                                        <li class="text-right" dir="rtl">
                                            تحقیر نوعی احساس خود برتربینی است. عموما به صورت احساس برتری ظاهر می
                                            شود اما می تواند زمانی احساس
                                            شود که
                                            کسی با تمسخر یا تحقیر از جایگاه اجتماعی بالاتر با کسی برخورد می کند. به طور
                                            مثال، احساس تحقیر از سمت رییستان.
                                            یا یک لبخند کنایه
                                            آمیز
                                            از
                                            دوستتان.
                                        </li>
                                    {% endif %}
                                    {% if context['language'] == 'filipino' %}
                                        <li>
                                            Paghamak ay maaaring ilarawan ng pakiramdam na "mas maigi ako sa iyo". Ito
                                            ay karaniwang
                                            ginagamit sa pakiramdam ng pagmamalaki ngunit maaari rin sa pakiramdam ng
                                            paglait sa mga nasa mas
                                            mataas
                                            na antas ng lipunan. Halimbawa ay ang paghamak sa amo o boss.
                                        </li>
                                    {% endif %}

                                </ul>
                            </div>


                        </div>
                    </div>

                </div>


            </tr>


            <tr style="background-color:#b7fad5">

                <td> What is the gender of the actor that you want to annotate for?</td>
                <td>

                    <label class="radio-inline mx-2" for="male"> <input type="radio" id="male" name="gender" value="male"
                                                                   required> Male </label>

                    <label class="radio-inline mx-2" for="female"><input type="radio" id="female" name="gender"
                                                                    value="female" required> Female </label>

                </td>
            </tr>

            <tr style="background-color:#fff59a">

                <td> The person in the video is feeling:</td>
                <td id="emotions">

                    <label class="checkbox-inline mx-2" for="Anger"> <input type="checkbox" id="Anger" name="emotion" value="anger"
                                                                    > Anger   </label>
                    <label class="checkbox-inline mx-2" for="Contempt"><input type="checkbox" id="Contempt" name="emotion"
                                                                     value="contempt" > Contemptuous  </label>
                    <label class="checkbox-inline mx-2" for="Disgust"> <input type="checkbox" id="Disgust" name="emotion"
                                                                     value="disgust" > Disgusted   </label>
                    <label class="checkbox-inline mx-2" for="Annoyed"> <input type="checkbox" id="Annoyed" name="emotion"
                                                                      value="annoyed" > Annoyed   </label>
                    <label class="checkbox-inline mx-2" for="Hatred"> <input type="checkbox" id="Hatred" name="emotion"
                                                                       value="hatred" > Hatred   </label>
                    <label class="checkbox-inline mx-2" for="Furious"> <input type="checkbox" id="Furious" name="emotion"
                                                                      value="furious" > Furious   </label><br>
                    <label class="checkbox-inline mx-2" for="None"> <input type="checkbox" id="None" name="emotion"
                                                                      value="none" > None of the above   </label><br>
                </td>
            </tr>

        <tr style="background-color:#fff59a">
            <td> Any additional comment: </td>
            <td><input type="text" class="form-control" name="comment"></td>
        </tr>

            <tr style="background-color: #a9f6f6">
                <td> Which emoji best depicts that emotion?</td>
                <td>
                    <label class="checkbox-inline mx-2" for="skeptical"> <input type="checkbox" name="emoji" value="skeptical" id="skeptical">
                        <img style="width: 50%;height:50%;" src="../static/skeptical.png"> </label>
                    <label class="checkbox-inline mx-2" for="smirk"> <input type="checkbox" name="emoji" value="smirk" id="smirk">
                        <img style="width: 50%;height:50%;" src="../static/smirk.png"> </label>
                    <label class="checkbox-inline mx-2" for="neutral"> <input type="checkbox" name="emoji" value="neutral" id="neutral">
                        <img style="width: 50%;height:50%;" src="../static/neutral.png"> </label>
                    <label class="checkbox-inline mx-2" for="expressionless"> <input type="checkbox" name="emoji" value="expressionless" id="expressionless">
                        <img style="width: 50%;height:50%;" src="../static/expressionless.png"> </label>
                    <label class="checkbox-inline mx-2" for="unamused"> <input type="checkbox" name="emoji" value="unamused" id="unamused">
                        <img style="width: 50%;height:50%;" src="../static/unamused.png"> </label>
                    <label class="checkbox-inline mx-2" for="rollingeyes"> <input type="checkbox" name="emoji" value="rollingeyes" id="rollingeyes">
                        <img style="width: 50%;height:50%;" src="../static/rollingeyes.png"> </label>
                    <label class="checkbox-inline mx-2" for="angry"> <input type="checkbox" name="emoji" value="angry" id="angry">
                        <img style="width: 50%;height:50%;" src="../static/anger.png"> </label>
                    <label class="checkbox-inline mx-2" for="hate"> <input type="checkbox" name="emoji" value="hatred" id="hate">
                        <img style="width: 50%;height:50%;" src="../static/hatred.png"> </label>
                    <label class="checkbox-inline mx-2" for="fury"> <input type="checkbox" name="emoji" value="furious" id="fury">
                        <img style="width: 50%;height:50%;" src="../static/furious.png"> </label>
                    <label class="checkbox-inline mx-2" for="vomit"> <input type="checkbox" name="emoji" value="vomiting" id="vomit">
                        <img style="width: 50%;height:50%;" src="../static/vomit.png"> </label>
                    <label class="checkbox-inline mx-2" for="nausea"> <input type="checkbox" name="emoji" value="nauseated" id="nausea">
                        <img style="width: 50%;height:50%;" src="../static/nuaseated.png"> </label>
                    <label class="checkbox-inline mx-2" for="weary"> <input type="checkbox" name="emoji" value="weary" id="weary">
                        <img style="width: 50%;height:50%;" src="../static/weary.png"> </label>
                    <label class="checkbox-inline mx-2" for="imp"> <input type="checkbox" name="emoji" value="smilingimp" id="imp">
                        <img style="width: 50%;height:50%;" src="../static/smilingimp.png"> </label>
                    <label class="checkbox-inline mx-2" for="triumph"> <input type="checkbox" name="emoji" value="triumph" id="triumph">
                        <img style="width: 50%;height:50%;" src="../static/triumph.png"> </label>
                    <label class="checkbox-inline mx-2" for="none"> <input type="checkbox" name="emoji" value="none" id="none"> None of the above </label>

                </td>
            </tr>

            <tr style="background-color:#c7ceea">
                <td>How intense is the facial expression?</td>
                <td>
                    From left to right: Not intense at all • Moderately intense • Extremely intense
                    <div class="form-row justify-content-center">
                        <div class="col-md-6 mb-3">
                    <input type="range" value="0" class="form-control-range" id="intense" name="intensity" min="0" max="6"
                       required>
                        </div>
                    </div>


                </td>
            </tr>

            <tr style="background-color:#eac7e1">
                <td>How confident are you about your selections?</td>
                <td>

                    <label for="one"><input type="radio" id="one" name="confidence" value="1" required> 1 (Not Very
                        Confident)</label>

                    <label for="two"> <input type="radio" id="two" name="confidence" value="2" required> 2 (Somewhat Not
                        Confident) </label>

                    <label for="three"><input type="radio" id="three" name="confidence" value="3" required> 3 (Neutral)</label>

                    <label for="four"><input type="radio" id="four" name="confidence" value="4" required> 4 (Somewhat
                        Confident)</label>

                    <label for="five"><input type="radio" id="five" name="confidence" value="5" required> 5 (Very
                        Confident)</label>
                    <br>

                </td>
            </tr>

        </table>
        <div class="row justify-content-center">
            <input type="submit" value="Submit" class="btn btn-info"/>
        </div>

    </form>
</div>

<footer class="footer">
    <div class="container justify-content-center">
        <p class="text-muted">Simon Fraser University - ROSIE Lab</p>
        <p>If you have any questions about this study, you may contact the researchers Roya Javadi (<a
            href="mailto:rjavadi@sfu.ca">rjavadi@sfu.ca</a>) or Emma Hughson (<a href="mailto:ehughson@sfu.ca">ehughson@sfu.ca</a>).
    </p>
    </div>
</footer>
</body>
<script>

    $(document).ready(function(){

        completed_count = parseInt($('#completed').text())
        all = parseInt($('#all').text())

        console.log((all / 2))
        console.log(completed_count)

        if (completed_count == (all / 2)) {
            console.log((all / 2))
            console.log(completed_count)
            alert( "Take a break! You can come back to this later! :)");
        }
        $( "form" ).submit(function(event) {
            emotions_checked = $("[name='emotion']:checkbox:checked").length
            emojis_checked = $("[name='emoji']:checkbox:checked").length
            if (emotions_checked == 0) {
                event.preventDefault();
                alert( "Please select at least one emotion!");
            }
            if (emojis_checked == 0) {
                event.preventDefault();
                alert( "Please select at least one emoji!");
            }

        });


    });
</script>
</html>