<!DOCTYPE HTML>
<html>
  <head>
    <title>Social Signals in the Wild</title>
  </head>
  
  
  <body>
    <h2>
      Social Signals in the Wild
    </h2>
    <h3>Definitions:</h3>
    <p>
        Please read the following definitions for each emotion carefully. 
        *Definitions and images are taken from Paul Ekmans’ definitions of emotions and can be found at https://www.paulekman.com/
    </p>

    <p>Contempt</p>
    <ul>
        <li>Contempt can be described as a feeling of “I am better than you”. It is generally a feeling of superiority but can be felt when someone looks down on those with a higher social status. For example, feeling contemptuous for your boss.</li>
    </ul>

    <p>Anger</p>
    <ul>
        <li>Anger can be described as annoyance, frustration, argumentative, bitterness, vengefulness, or fury. Anger can be towards someone or towards yourself.</li>
    </ul>

    <p>Disgust</p>
    <ul>
        <li>Disgust can be described as dislike, aversion, distaste, repugnance, revulsion, abhorrence, or loathing. Disgust is normally brought upon by something that is offensive, poisonous or contaminated.</li>
    </ul>

    <h3>Task:</h3>
    <p>For each short clip, answer the associated questions related to the emotion definitions above.</p>
    
    
    <div class="bd-example" align="middle">
    <img src="{{url_for('static', filename='rosielab.png')}}" align="middle" />
    </div>

    <form action="{{ url_for('home')}}" method="POST">
    
    <input type="submit" value = "Continue" />
    </form>
    
    

  </body>



  <!-- we can add diclaimer here?-->



  
</html>