<!DOCTYPE HTML>
<html>
<head>
    <title>Social Signals in the Wild</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="bd-example" align="middle">
        <img src="{{ url_for('static', filename='rosielab.png') }}" align="middle"/>
    </div>
    <br>
    <div class="row justify-content-center">
        <h1>
            Social Signals in the Wild
        </h1>
        <h3>
            Welcome to the Social Signal study website and thank you for your participation in this research project.
        </h3>


    </div>
    <br>
    <br>
    <p>

<div class="row justify-content-center">
    <p class="bg-warning">   If you have already registered, please login from <a
            href={{ url_for('login') }}> here </a></p>
    <br>
</div>



    <div class="row justify-content-center">
        <form action="{{ url_for('consent_form') }}" method="GET">
            <input type="submit" value="Continue" class="btn btn-info"/>
        </form>
    </div>

    <br>
    <br>
    <!--</div>-->
</div>
<footer class="footer">
    <div class="container justify-content-center">
        <p class="text-muted">Simon Fraser University - ROSIE Lab</p>
    </div>
</footer>
</body>
<!-- we can add diclaimer here?-->
</html>