<!DOCTYPE HTML>
<html>
<head>
    <title>Social Signals in the Wild</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>


<body>
<div class="container justify-content-center">
    <h1> Registration Form </h1>
    <!--todo: write that all fields are required -->
{#    <div class="bd-example" align="middle">#}
{#        <img src="{{ url_for('static', filename='rosielab.png') }}" align="middle"/>#}
{#    </div>#}

    <form action="{{ url_for('create_user') }}" method="POST">
        <p><b>Please define a simple username and password. This is only to keep the track of your annotation in case
            you leave the website and will not affect your anonimity. After submitting this form, you'll be redirected
            to login page to login.
        </b></p>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username"
                   id="username" required>
            <div class="invalid-feedback">Oops, you missed this one.</div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="password" name="password"
                   required="" autocomplete="new-password" required>
            <div class="invalid-feedback">Enter your password too!</div>
        </div>

        <label for="consent"> <input type="checkbox" id="consent" name="consent" value="yes" required>
            I have read the <a href="../static/consent_form.html" target="_blank"> consent form </a> and accept it.
        </label>

        <p><em></em></p>
        <!--<div class="form-group">
            Please choose the culture that best represents your own:<br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="culture" id="filipino" value="filipino" required>
                <label class="form-check-label" for="filipino">Filipino </label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="culture" id="north american" value="north american"
                       required>
                <label class="form-check-label" for="north american">North American </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="culture" id="persian" value="persian" required>
                <label class="form-check-label" for="persian">Persian </label>
            </div>
        </div>-->

        Please indicate how much you are related to each of these cultures:
        <div class="row justify-content-center">
            <div class="form-group col-md-3">
                <label for="na_cult">North American: </label>
                <input type="range" value="0" class="form-control-range" id="na_cult" name="na_culture" min="0" max="5"
                       required>
            </div>
            <div class="form-group col-md-3">
                <label for="pr_cult">Persian: </label>
                <input type="range" value="0" class="form-control-range" id="pr_cult" name="persian_culture" min="0" max="5"
                       required>
            </div>
            <div class="form-group col-md-3">
                <label for="fp_cult">Filipino: </label>
                <input type="range" value="0" class="form-control-range" id="fp_cult" name="filipino_culture" min="0" max="5"
                       required>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="alert alert-info col-lg-8" role="alert">
                <h2 class="alert-heading">Individualism vs Collectivism</h2>
                <h4>Please read the following the definition and answer the question below: </h4>
                <hr>
                <p>
                    Individualism versus collectivism: Individualism is viewed as a situation in which people are supposed
                    to look after themselves and their immediate family only, and collectivism is viewed as a situation in
                    which people belong to in-groups and are supposed to look after them in exchange for loyalty. This
                    dimension is related to the individual’s dependence on the group, or his or her self-concept as “I” or “we”. (Hofstede, 2000)
                </p>



            </div>
        </div>

        <div class="form-group">
            According to the above description, how much do you identify as being individualistic? <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="IDV" id="oneIDV" value="1" required>
                <label class="form-check-label" for="oneIDV" required>1 (Individualistic) </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="IDV" id="twoIDV" value="2" required>
                <label class="form-check-label" for="twoIDV" required>2 (Somewhat Individualistic) </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="IDV" id="threeIDV" value="3" required>
                <label class="form-check-label" for="threeIDV" required>3 (Not Sure) </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="IDV" id="fourIDV" value="4" required>
                <label class="form-check-label" for="fourIDV" required>4 (Somewhat Collectivist) </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="IDV" id="fiveIDV" value="5" required>
                <label class="form-check-label" for="fiveIDV" required>5 (Collectivist) </label>
            </div>
        </div>

        <!--<div class="form-group">
            Rokeach Value Survey <br>
            <div class="form-group">
                <label for="rvs_1">A comfortable Life (i.e., a prosperous life)</label>
                <input type="text" class="form-control" name="rvs_1"
                       id="rvs_1" required>
            </div>
            <div class="form-group">
                <label for="rvs_2">An exciting life (i.e., a stimulating, active life)</label>
                <input type="text" class="form-control" name="rvs_2"
                       id="rvs_2" required>
            </div>
            <div class="form-group">
                <label for="rvs_3">A sense of accomplishment (i.e., a lasting contribution)</label>
                <input type="text" class="form-control" name="rvs_3"
                       id="rvs_3" required>
            </div>
            <div class="form-group">
                <label for="rvs_4">A sense of accomplishment (i.e., a lasting contribution)</label>
                <input type="text" class="form-control" name="rvs_4"
                       id="rvs_4" required>
            </div>
            <div class="form-group">
                <label for="rvs_5">A sense of accomplishment (i.e., a lasting contribution)</label>
                <input type="text" class="form-control" name="rvs_5"
                       id="rvs_5" required>
            </div>
            <div class="form-group">
                <label for="rvs_6">A sense of accomplishment (i.e., a lasting contribution)</label>
                <input type="text" class="form-control" name="rvs_6"
                       id="rvs_6" required>
            </div>
            <div class="form-group">
                <label for="rvs_7">A sense of accomplishment (i.e., a lasting contribution)</label>
                <input type="text" class="form-control" name="rvs_7"
                       id="rvs_7" required>
            </div>
            <div class="form-group">
                <label for="rvs_8">A sense of accomplishment (i.e., a lasting contribution)</label>
                <input type="text" class="form-control" name="rvs_8"
                       id="rvs_8" required>
            </div>
            <div class="form-group">
                <label for="rvs_9">A sense of accomplishment (i.e., a lasting contribution)</label>
                <input type="text" class="form-control" name="rvs_9"
                       id="rvs_9" required>
            </div>
            <div class="form-group">
                <label for="rvs_10">A sense of accomplishment (i.e., a lasting contribution)</label>
                <input type="text" class="form-control" name="rvs_10"
                       id="rvs_10" required>
            </div>
            <div class="form-group">
                <label for="rvs_11">A sense of accomplishment (i.e., a lasting contribution)</label>
                <input type="text" class="form-control" name="rvs_11"
                       id="rvs_11" required>
            </div>
            <div class="form-group">
                <label for="rvs_12">A sense of accomplishment (i.e., a lasting contribution)</label>
                <input type="text" class="form-control" name="rvs_12"
                       id="rvs_12" required>
            </div>
            <div class="form-group">
                <label for="rvs_13">A sense of accomplishment (i.e., a lasting contribution)</label>
                <input type="text" class="form-control" name="rvs_13"
                       id="rvs_13" required>
            </div>
            <div class="form-group">
                <label for="rvs_14">A sense of accomplishment (i.e., a lasting contribution)</label>
                <input type="text" class="form-control" name="rvs_14"
                       id="rvs_14" required>
            </div>
            <div class="form-group">
                <label for="rvs_15">A sense of accomplishment (i.e., a lasting contribution)</label>
                <input type="text" class="form-control" name="rvs_15"
                       id="rvs_15" required>
            </div>
            <div class="form-group">
                <label for="rvs_16">A sense of accomplishment (i.e., a lasting contribution)</label>
                <input type="text" class="form-control" name="rvs_16"
                       id="rvs_16" required>
            </div>
            <div class="form-group">
                <label for="rvs_17">A sense of accomplishment (i.e., a lasting contribution)</label>
                <input type="text" class="form-control" name="rvs_17"
                       id="rvs_17" required>
            </div>
            <div class="form-group">
                <label for="rvs_18">A sense of accomplishment (i.e., a lasting contribution)</label>
                <input type="text" class="form-control" name="rvs_18"
                       id="rvs_18" required>
            </div>

        </div> -->


        <!--<p>Language (if you speak more than one, give the language you identify with the most): </p>-->
        Please indicate how familiar you are with each of these languages:
        <div class="row justify-content-center">
            <div class="form-group col-md-3">
                <label for="eng_lang">English: </label>
                <input type="range" value="0" class="form-control-range" id="eng_lang" name="english_lang" min="0" max="5"
                       required>
            </div>
            <div class="form-group col-md-3">
                <label for="pr">Persian: </label>
                <input type="range" value="0" class="form-control-range" id="pr" name="persian_lang" min="0" max="5"
                       required>
            </div>
            <div class="form-group col-md-3">
                <label for="filipino_lang">Filipino: </label>
                <input type="range" value="0" class="form-control-range" id="filipino_lang" name="filipino_lang" min="0" max="5"
                       required>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <input type="submit" value="Register Me!" class="btn btn-info"/>
        </div>
        <br>
        <br>

    </form>


</div>

<footer class="footer">
      <div class="container justify-content-center">
        <p class="text-muted">Simon Fraser University - ROSIE Lab</p>
      </div>
    </footer>
</body>


<!-- we can add diclaimer here?-->


</html>