<!DOCTYPE HTML>
<html>
<head>
    <title>Social Signals in the Wild</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>
<div class="container justify-content-center">
    <h1> Registration Form </h1>



    <form action="{{ url_for('create_user') }}" method="POST">
        Please select the cultural study you would like to participate in: <br><br>
        <div class="row justify-content-center">
            <div class="form-group col-md-3">
                <label for="na_study">North American (English) </label>
                <input type="radio" class="radio-inline" id="na_study" name="culture" value="north american" required>
            </div>
            <div class="form-group col-md-3">
                <label for="pr_study">Persian (Persian) </label>
                <input type="radio" class="radio-inline" id="pr_study" value="persian" name="culture" required>
            </div>
            <div class="form-group col-md-3">
                <label for="f_study">Filipino (Tagalog) </label>
                <input type="radio" class="radio-inline" id="f_study" value="filipino" name="culture" required>
            </div>
        </div>
        <p><b>By selecting this culture, you confirm that you are able to communicate fluently in that language (written/spoken) and identify with that culture.</b></p>
        <br>

        Please indicate how much you are related to each of these cultures: <br>
        The slider value increases from left to right.
        <div class="row justify-content-center">
            <div class="form-group col-md-3">
                <label for="na_cult">North American: </label>
                <input type="range" value="0" class="form-control-range" id="na_cult" name="na_culture" min="0" max="5"
                       required>
            </div>
            <div class="form-group col-md-3">
                <label for="pr_cult">Persian: </label>
                <input type="range" value="0" class="form-control-range" id="pr_cult" name="persian_culture" min="0" max="5"
                       required>
            </div>
            <div class="form-group col-md-3">
                <label for="f_cult">Filipino: </label>
                <input type="range" value="0" class="form-control-range" id="f_cult" name="filipino_culture" min="0" max="5"
                       required>
            </div>
        </div>
        <br>
        Please indicate how familiar you are with each of these languages:
        <div class="row justify-content-center">
            <div class="form-group col-md-3">
                <label for="eng_lang">English: </label>
                <input type="range" value="0" class="form-control-range" id="eng_lang" name="english_lang" min="0" max="5"
                       required>
            </div>
            <div class="form-group col-md-3">
                <label for="pr">Persian: </label>
                <input type="range" value="0" class="form-control-range" id="pr" name="persian_lang" min="0" max="5"
                       required>
            </div>
            <div class="form-group col-md-3">
                <label for="f_lang">Filipino: </label>
                <input type="range" value="0" class="form-control-range" id="f_lang" name="filipino_lang" min="0" max="5"
                       required>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="alert alert-info col-lg-8" role="alert">
                <h2 class="alert-heading">Individualism vs Collectivism</h2>
                <h4>Please read the following the definition and answer the question below: </h4>
                <hr>
                <p>
                    Individualism versus collectivism: Individualism is viewed as a situation in which people are supposed
                    to look after themselves and their immediate family only, and collectivism is viewed as a situation in
                    which people belong to in-groups and are supposed to look after them in exchange for loyalty. This
                    dimension is related to the individual’s dependence on the group, or his or her self-concept as “I” or “we”. (Hofstede, 2000)
                </p>



            </div>
        </div>

        <div class="form-group">
            According to the above description, how much you identify yourself with being individualistic? <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="IDV" id="oneIDV" value="1" required>
                <label class="form-check-label" for="oneIDV" required>1 (Individualistic) </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="IDV" id="twoIDV" value="2" required>
                <label class="form-check-label" for="twoIDV" required>2 (Somewhat Individualistic) </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="IDV" id="threeIDV" value="3" required>
                <label class="form-check-label" for="threeIDV" required>3 (Not Sure) </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="IDV" id="fourIDV" value="4" required>
                <label class="form-check-label" for="fourIDV" required>4 (Somewhat Collectivist) </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="IDV" id="fiveIDV" value="5" required>
                <label class="form-check-label" for="fiveIDV" required>5 (Collectivist) </label>
            </div>
        </div>



        <!--<p>Language (if you speak more than one, give the language you identify with the most): </p>-->

        <br>
        <div class="row justify-content-center">
            <input type="submit" value="Register Me!" class="btn btn-info"/>
        </div>
        <br>
        <br>

    </form>


</div>

<footer class="footer">
      <div class="container justify-content-center">
        <p class="text-muted">Simon Fraser University - ROSIE Lab</p>
      </div>
    </footer>
</body>
<script>

    $(document).ready(function(){

        $( "form" ).submit(function(event) {
            f_cult = $("#f_cult").val()
            p_cult = $("#pr_cult").val()
            na_cult = $("#na_cult").val()

            p_lang = $("#pr").val()
            f_lang = $("#f_lang").val()
            na_lang = $("#eng_lang").val()

            {#event.preventDefault();#}
            not_valid = (f_cult > p_cult && f_lang < p_lang) ||
                (f_cult < p_cult && f_lang > p_lang) ||
                (p_cult > na_cult && p_lang < na_lang) ||
                (f_cult > na_cult && f_lang < na_lang) ||
            console.log(not_valid)
            if (not_valid) {
                event.preventDefault();
                alert( "Culture and Language are not consistent!");
            }


        });


    });
</script>


</html>