<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<div class="container ">
    <div class="row vertical-align justify-content-center">
        <div class="alert alert-success col-lg-8" role="alert">
            <p>Your code is: </p>
            <h3>{{ user_code }}</h3>
            <em>Make sure to save this code by writing it, taking a photo and saving to your computer.
                If you lose it, there is no way to recover it.</em>
        </div>
    </div>
    <div class="row justify-content-center">
        <span class="badge badge-pill badge-danger">Attention!</span> <br>
        <p class="text-warning">Make sure you have recorded this code before proceeding to next step</p>
        <a class="btn btn-primary btn-lg active" href={{ url_for('login') }}  role="button" aria-pressed="true">Next</a>
{#        <a href= ><button value="Next" class="btn btn-info" /> </a>#}
        <!--TODO: this should have a link to login/confirm page -->
    </div>
</div>

</body>
</html>